*{
    box-sizing:border-box;
} 

body{
    font-size: 24px;
    color: rgba(92, 8A, 97, 100);
    font-family:sans-serif ;
    line-height: auto;
    height: 900px;
    width: 1410px;
    background-color: #283C63;
    position: sticky;

}

.topbar{
    font-size: large;
    height: 40px;
    width: 1437px;
    margin-top: 50px;
    border-radius: 0px;
    background-color: rgb(92, 100, 129);
    position: sticky;
}

.topbar nav a{
    color: #FBE8D3;
}

.topbar nav a.contact{
    padding: 5px 0 0 600px;

}

.topbar nav a.team{
    padding: 5px 24px;
}

.topbar nav a.home{
    padding: 5px 24px 0 80px;
}

.topbar nav a.service{
    padding: 5px 24px 0 24px;
}

.topbar nav a:hover{
    color: #000000;

}

.topbar nav img.code {
    padding: 5px 30px 0 136px;

}

nav .bloc11{
    color: #FBE8D3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 106px;
    letter-spacing: 0em;
    text-align: left;
    height: 318px;
    width: 600px;
    top: 201px;
    border-radius: nullpx;
    margin-left: 136px;
}

nav .bloc12{
    font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
    color: #928A97;
    height: 56px;
width: 500px;
left: 136px;
top: 543px;
border-radius: nullpx;
margin-left: 136px;

}

.bloc{
    display: flex;
    justify-content:space-between;
}

nav .bloc2{
    margin-top: 170px;
    margin-right: 100px;
    position: relative;
}

.bloc3{
    display: flex;
    justify-content:space-between;
}

nav .bloc31{
    color: #FBE8D3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: left;
    height: 270px;
    width: 600px;
    top: 201px;
    border-radius: nullpx;
    margin-left: 136px;
}

nav .bloc32{
    font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
    color: #928A97;
    height: 56px;
width: 500px;
left: 136px;
top: 500px;
border-radius: nullpx;
margin-left: 136px;
}

nav .bloc4{
    margin-top: 170px;
    margin-right: 100px;
}

nav .bloc33{
height: 53px;
width: 170px;
left: 135px;
margin-top: 13px;
border-radius: 0px;
margin-left: 136px;

}

nav .bloc33 button{
    height: 32px;
    width: 90px;
    background-color: salmon;
}